DEBUG=true
CORS_ALLOW_ALL_ORIGINS=true

# Django
SECRET_KEY=change-me-in-production

# API fixed token
API_SECRET_KEY=troque-essa-por-uma-chave-secreta

# Stripe (optional)
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_ENABLE_PIX=true
STRIPE_CONNECT_ACCOUNT_ID=
STRIPE_APPLICATION_FEE_AMOUNT=0
